<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <title>Real-Time News streaming</title>
    <script src="static/js/lib/Chart.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/dashboard.css">

</head>s
<body>

    <div class="header">

        <div class="counter_container title">
            <h3>Real-Time News Analysis</h3>
            <p>Last 15min in USA</p>
        </div>

        <!-- <script src="static/js/counters_setter.js"></script> -->
    </div>

    <div id="top_topics_container" class="chart_container">
        <h3>Hot_words</h3>
        <div>
            <canvas id="top_topics"></canvas>
            <script src="static/js/top_topics.js"></script>
        </div>
    </div>


</body>
